case bildboard_include
    when 'special'
        .bildboard-data.bildboard-data--special
            <picture>
                <source srcset=#{bildboardImg[0]} media="(min-width: 1025px)">
                <source media="(min-width: 621px)" srcset=#{bildboardImg[1]}>
                <source media="(min-width: 320px)" srcset=#{bildboardImg[2]}>
                <img src=#{bildboardImg[0]} alt="MDN">
            </picture>
            .bildboard-data__container.container
                h1.bildboard-data__title.title-1 #{setTitle}
                .bildboard-data__quote Опыт, профессионализм и персональная работа с каждым своим заказчиком – вот составляющие нашей успешной рекламной стратегии.
    when 'special-btn'
        .bildboard-data.bildboard-data--special-btn
            <picture>
                <source srcset=#{bildboardImg[0]} media="(min-width: 1025px)">
                <source media="(min-width: 621px)" srcset=#{bildboardImg[1]}>
                <source media="(min-width: 320px)" srcset=#{bildboardImg[2]}>
                <img src=#{bildboardImg[0]} alt="MDN">
            </picture>
            .bildboard-data__container.container
                h1.bildboard-data__title.title-1 #{setTitle}
                .bildboard-data__quote #{bildboard_quote}
                a(href="#").btn.btn--special
                    .btn__special
                        span Отправить заявку менеджеру
                    .btn__text Отправить заявку менеджеру

    when 'transparent'
        .bildboard-data.bildboard-data--transparent
            .bildboard-data__container.container
                h1.bildboard-data__title.title-1 #{setTitle}
    when 'simple'
        .bildboard-data.bildboard-data--simple
            <picture>
                <source srcset=#{bildboardImg[0]} media="(min-width: 1025px)">
                <source media="(min-width: 621px)" srcset=#{bildboardImg[1]}>
                <source media="(min-width: 320px)" srcset=#{bildboardImg[2]}>
                <img src=#{bildboardImg[0]} alt="MDN">
            </picture>
            .bildboard-data__container.container
                h1.bildboard-data__title.title-1 #{setTitle}