case bildboard_include
    when 'special'
        .bildboard-data.bildboard-data--special(style=`${bildboard_img}`)
            .bildboard-data__container.container
                .bildboard-data__title.title-1 #{setTitle}
                .bildboard-data__quote Опыт, профессионализм и персональная работа с каждым своим заказчиком – вот составляющие нашей успешной рекламной стратегии.
    when 'special-btn'
        .bildboard-data.bildboard-data--special-btn(style=`${bildboard_img}`)
            .bildboard-data__container.container
                .bildboard-data__title.title-1 #{setTitle}
                .bildboard-data__quote #{bildboard_quote}
                a(href="https://uralmedias.ru/articles/").btn.btn--special
                    .btn__special
                        span Отправить заявку менеджеру
                    .btn__text Отправить заявку менеджеру

    when 'transparent'
        .bildboard-data.bildboard-data--transparent
            .bildboard-data__container.container
                .bildboard-data__title.title-1 #{setTitle}
    default
        .bildboard-data.bildboard-data--simple(style=`${bildboard_img}`)
            .bildboard-data__container.container
                .bildboard-data__title.title-1 #{setTitle}