case bildboard_include
    when 'special'
        .bildboard-data.bildboard-data--special(style=`${bildboard_img}`)
            .bildboard-data__container.container
                .bildboard-data__title.title-1 #{setTitle}
                .bildboard-data__quote Опыт, профессионализм и персональная работа с каждым своим заказчиком – вот составляющие нашей успешной рекламной стратегии.
    when 'special-btn'
        .bildboard-data.bildboard-data--special-btn(style=`${bildboard_img}`)
            .bildboard-data__container.container
                .bildboard-data__title.title-1 #{setTitle}
                .bildboard-data__quote #{bildboard_quote}
                a(href="https://uralmedias.ru/articles/").btn.btn--special
                    .btn__special
                        span Отправить заявку менеджеру
                    .btn__text Отправить заявку менеджеру

    when 'transparent'
        .bildboard-data.bildboard-data--transparent
            .bildboard-data__container.container
                .bildboard-data__title.title-1 #{setTitle}
    default
        .bildboard-data.bildboard-data--simple(style=`${bildboard_img}`)
            .bildboard-data__container.container
                .bildboard-data__title.title-1 #{setTitle}
//-   when 'corporate'
//-     .bildboard-data.bildboard-data--big.bildboard-data--advertising(style=`${bildboard_img}`)
//-         .bildboard-data__container.container
//-             .bildboard-data__title.title-1 #{setTitle}
//-             .bildboard-data__txt Современный корпоративный портал высокого уровня, являющийся официальным представителем Вашей компании в интернете.
//-             a(href="https://uralmedias.ru/articles/").btn.btn--special
//-                 .btn__special
//-                     span Отправить заявку менеджеру
//-                 .btn__text Отправить заявку менеджеру
//-   when 'advertising'
//-     .bildboard-data.bildboard-data--big.bildboard-data--advertising(style=`${bildboard_img}`)
//-         .bildboard-data__container.container
//-             .bildboard-data__title.title-1 #{setTitle}
//-             .bildboard-data__txt Опыт, профессионализм и персональная работа с каждым своим заказчиком – вот составляющие нашей успешной рекламной стратегии.
//-             a(href="https://uralmedias.ru/articles/").btn.btn--special
//-                 .btn__special
//-                     span Отправить заявку менеджеру
//-                 .btn__text Отправить заявку менеджеру
//-   when 'landing'
//-     .bildboard-data.bildboard-data--big.bildboard-data--landing(style=`${bildboard_img}`)
//-         .bildboard-data__container.container
//-             .bildboard-data__title.title-1 #{setTitle}
//-             .bildboard-data__txt Одностраничный сайт для Вашего бизнеса, который усилит эффект рекламы и увеличит аудиторию.
//-   when 'seo'
//-      .bildboard-data.bildboard-data--big.bildboard-data--seo(style=`${bildboard_img}`)
//-         .bildboard-data__container.container
//-             .bildboard-data__title.bildboard-data__title--seo.title-1 Мы являемся SEO-компанией №1 в Магнитогорске по версии <br><span>cms</span> magazine  
//-             a(href="https://uralmedias.ru/articles/").btn.btn--special
//-                 .btn__special
//-                     span Получить SEO-аудит сайта
//-                 .btn__text Получить SEO-аудит сайта
//-   when 'empty'
//-     .bildboard-data.bildboard-data--empty(style=`${bildboard_img}`)
//-         .bildboard-data__container.container
//-             .bildboard-data__title.title-1 #{setTitle}
 
//-   when 'promotion'
//-     .bildboard-data.bildboard-data--big.bildboard-data--promotion(style=`${bildboard_img}`)
//-         .bildboard-data__container.container
//-             .bildboard-data__title.title-1 #{setTitle}
//-             .bildboard-data__txt Наше агентство не просто продвигает сайт в топ поисковой выдачи, а делает из него канал привлечения заказов. Десятки наших клиентов в Магнитогорске и в других городах России успешно решают свои бизнес-задачи с помощью SEO-продвижения. Гарантируем соблюдение всех требований Яндекс и Google.
//-             a(href="https://uralmedias.ru/articles/").btn.btn--special
//-                 .btn__special
//-                     span Получить SEO-аудит сайта
//-                 .btn__text Получить SEO-аудит сайта
