case bildboard_include
  when 'advertising'
    .bildboard-data.bildboard-data--advertising(style=`${bildboard_img}`)
        .bildboard-data__container.container
            .bildboard-data__title.title-1 #{setTitle}
            .bildboard-data__txt Опыт, профессионализм и персональная работа с каждым своим заказчиком – вот составляющие нашей успешной рекламной стратегии.
            a(href="https://uralmedias.ru/articles/").btn.btn--special
                .btn__special
                    span Отправить заявку менеджеру
                .btn__text Отправить заявку менеджеру
  when 'landing'
    .bildboard-data.bildboard-data--landing(style=`${bildboard_img}`)
        .bildboard-data__container.container
            .bildboard-data__title.title-1 #{setTitle}
            .bildboard-data__txt Одностраничный сайт для Вашего бизнеса, который усилит эффект рекламы и увеличит аудиторию.
  when 'seo'
     .bildboard-data.bildboard-data--seo(style=`${bildboard_img}`)
        .bildboard-data__container.container
            .bildboard-data__title.bildboard-data__title--seo.title-1 Мы являемся SEO-компанией №1 в Магнитогорске по версии <br><span>cms</span> magazine  
            a(href="https://uralmedias.ru/articles/").btn.btn--special
                .btn__special
                    span Получить SEO-аудит сайта
                .btn__text Получить SEO-аудит сайта
  when 'empty'
    .bildboard-data.bildboard-data--empty(style=`${bildboard_img}`)
        .bildboard-data__container.container
            .bildboard-data__title.title-1 #{setTitle}
  default
    .bildboard-data(style=`${bildboard_img}`)
        .bildboard-data__container.container
            .bildboard-data__title.title-1 #{setTitle}