extends ../layout/main

block variables
    - var pageClass = 'index-page';
    - var setTitle = 'Найдём новых клиентов для вашего бизнеса';
    - var include = 'link';
    - var bildboard_img = "background-image: url(img/dataBild/img7.jpg);";
    - var bildboard_include = 'special-btn';
    - var bildboard_quote = 'Опыт, профессионализм и персональная работа с каждым своим заказчиком – вот составляющие нашей успешной рекламной стратегии.';
    - var bildboardImg = ['img/dataBild/img1.jpg', 'img/dataBild/img_tablet1.jpg', 'img/dataBild/img_mobile1.jpg'];
    - var priceList = '3';
    - var priceBg = 'background-color: #f6f6f6';

    - var quote = 'h2';
    - var quoteTitle = 'Контекстная реклама';
    - var quoteInfo = ['Контекстная реклама по праву считается продуктивным механизмом для роста продаж и привлечения новых клиентов. Данный тип рекламы является текстовым объявлением, иногда может содержать в себе изображение. Реклама показывается человеку в поисковой выдаче на основе его запросов, а также на сайтах и ресурсах, учитывая ранее просмотренные страницы.'];

block content
    div(data-barba="container" data-barba-namespace="page")
        .bildboard-data.bildboard-data--ad.bildboard-data--special-btn
            <picture>
                <source srcset=#{bildboardImg[0]} media="(min-width: 1025px)">
                <source media="(min-width: 621px)" srcset=#{bildboardImg[1]}>
                <source media="(min-width: 320px)" srcset=#{bildboardImg[2]}>
                <img src=#{bildboardImg[0]} alt="MDN">
            </picture>
            .bildboard-data__container.container
                h1.bildboard-data__title.title-1 #{setTitle}
                .bildboard-data__quote #{bildboard_quote}
                a(href="#").btn.btn--special.js-form-call.link
                    .btn__special
                        span Отправить заявку менеджеру
                    .btn__text Отправить заявку менеджеру

        include ../modules/breadcrumbs
        include ../modules/quote

        .advertising
            .advertising__container.container
                .advertising__cover
                    .advertising__items
                        .advertising__item
                            .advertising__pic
                                +svg('employee')
                            .advertising__txt Показ рекламы аудтиории, уже заинтересованнной в опредленном Вашем товаре или услуге
                        .advertising__item
                            .advertising__pic
                                +svg('competitor')
                            .advertising__txt Показ рекламы аудтиории, уже заинтересованнной в опредленном Вашем товаре или услуге
                        .advertising__item
                            .advertising__pic
                                +svg('choice')
                            .advertising__txt Показ рекламы аудтиории, уже заинтересованнной в опредленном Вашем товаре или услуге
                        .advertising__item
                            .advertising__pic
                                +svg('conversion')
                            .advertising__txt Показ рекламы аудтиории, уже заинтересованнной в опредленном Вашем товаре или услуге

        .include.include--ad
            .include__container.container
                h2.include__title.title-3 Если у Вас уже настроена контекстная реклама, но эффекта нет
                .include__txt Мы с удовольствием исследуем Ваши рекламные кампании и качество трафика, используя данные статистики. Предоставьте гостевой доступ в метрику и Analytics и отправьте Вашу заявку на аудит
                .include__items
                    .include__item
                        .include__value 15₽
                        .include__abbr <span>CAC</span>min
                        .include__note Минимальная стоимость клиента
                    .include__item
                        .include__value +500%
                        .include__abbr <span>ROI</span>max
                        .include__note Максимальная окупаемость инвестиций
                    .include__item
                        .include__value 8₽
                        .include__abbr <span>CPС</span>min
                        .include__note Минимальная стоимость клика

        .include
            .include__container.container
                h2.include__title.title-3 Если у Вас уже настроена контекстная реклама, но эффекта нет
                .include__txt Мы с удовольствием исследуем Ваши рекламные кампании и качество трафика, используя данные статистики. Предоставьте гостевой доступ в метрику и Analytics и отправьте Вашу заявку на аудит
                a(href="#").btn.btn--special.link
                    .btn__special
                        span Заказать проект
                    .btn__text Заказать проект

        include ../modules/partners

        .seo-slider
            .container
                .slider.blog__slider.js-blog-slider
                    .swiper-wrapper
                        a.blog__item.swiper-slide.link(href="#")
                            .blog__pic(style="background-image: url(./img/dataBild/img3.jpg);")
                                .blog__popup
                                    .blog__txt В этой статье разбираемся, зачем бизнесу контент-маркетинг, и какой контент публиковать, чтобы быть "в тренде"
                            .blog__content
                                .blog__text Как сформировать доверие аудитории?
                                .blog__bottom
                                    .blog__date
                                        span Статьи
                                    .blog__ref
                        a.blog__item.swiper-slide.link(href="#")
                            .blog__pic(style="background-image: url(./img/dataBild/img3.jpg);")
                                .blog__popup
                                    .blog__txt В этой статье разбираемся, зачем бизнесу контент-маркетинг, и какой контент публиковать, чтобы быть "в тренде"
                            .blog__content
                                .blog__text Как сформировать доверие аудитории?
                                .blog__bottom
                                    .blog__date
                                        span Статьи
                                    .blog__ref
                        a.blog__item.swiper-slide.link(href="#")
                            .blog__pic(style="background-image: url(./img/dataBild/img3.jpg);")
                                .blog__popup
                                    .blog__txt В этой статье разбираемся, зачем бизнесу контент-маркетинг, и какой контент публиковать, чтобы быть "в тренде"
                            .blog__content
                                .blog__text Как сформировать доверие аудитории?
                                .blog__bottom
                                    .blog__date
                                        span Статьи
                                    .blog__ref
                        a.blog__item.swiper-slide.link(href="#")
                            .blog__pic(style="background-image: url(./img/dataBild/img3.jpg);")
                                .blog__popup
                                    .blog__txt В этой статье разбираемся, зачем бизнесу контент-маркетинг, и какой контент публиковать, чтобы быть "в тренде"
                            .blog__content
                                .blog__text Как сформировать доверие аудитории?
                                .blog__bottom
                                    .blog__date
                                        span Статьи
                                    .blog__ref
                        a.blog__item.swiper-slide.link(href="#")
                            .blog__pic(style="background-image: url(./img/dataBild/img3.jpg);")
                                .blog__popup
                                    .blog__txt В этой статье разбираемся, зачем бизнесу контент-маркетинг, и какой контент публиковать, чтобы быть "в тренде"
                            .blog__content
                                .blog__text Как сформировать доверие аудитории?
                                .blog__bottom
                                    .blog__date
                                        span Статьи
                                    .blog__ref

                    .arrow
                        .arrow__link.arrow__link--prev
                            <svg class="b-svg svg-arr-slider ">
                            <use xlink:href="./svg/symbol/sprite.svg#arr-slider"></use>
                            </svg>
                        .arrow__link.arrow__link--next
                            <svg class="b-svg svg-arr-slider ">
                            <use xlink:href="./svg/symbol/sprite.svg#arr-slider"></use>
                            </svg>
                    .pagination

block script