extends ../layout/main

block variables
	- var pageClass = 'index-page';
	- var setTitle = 'Найдём новых клиентов для вашего бизнеса';
	- var include = 'link';
	- var bildboard_img = "background-image: url(img/dataBild/img7.jpg);";
	- var bildboard_include = 'special-btn';
	- var bildboard_quote = 'Опыт, профессионализм и персональная работа с каждым своим заказчиком – вот составляющие нашей успешной рекламной стратегии.';
	- var bildboardImg = ['img/dataBild/img1.jpg', 'img/dataBild/img_tablet1.jpg', 'img/dataBild/img_mobile1.jpg'];
	- var priceList = '3'; 
	- var priceBg = 'background-color: #f6f6f6';

	- var quote = 'h2';
	- var quoteTitle = 'Контекстная реклама';
	- var quoteInfo = ['Контекстная реклама по праву считается продуктивным механизмом для роста продаж и привлечения новых клиентов. Данный тип рекламы является текстовым объявлением, иногда может содержать в себе изображение. Реклама показывается человеку в поисковой выдаче на основе его запросов, а также на сайтах и ресурсах, учитывая ранее просмотренные страницы.'];

block content
	div(data-barba="container" data-barba-namespace="page")
		.bildboard-data.bildboard-data--special-btn
			<picture>
				<source srcset=#{bildboardImg[0]} media="(min-width: 1025px)">
				<source media="(min-width: 621px)" srcset=#{bildboardImg[1]}>
				<source media="(min-width: 320px)" srcset=#{bildboardImg[2]}>
				<img src=#{bildboardImg[0]} alt="MDN">
			</picture>
			.bildboard-data__container.container
				h1.bildboard-data__title.title-1 #{setTitle}
				.bildboard-data__quote #{bildboard_quote}
				a(href="#").btn.btn--special.js-form-call
					.btn__special
						span Отправить заявку менеджеру
					.btn__text Отправить заявку менеджеру
					
		include ../modules/breadcrumbs
		include ../modules/quote

		.advertising
			.advertising__container.container
				.advertising__cover
					.advertising__items 
						.advertising__item
							.advertising__pic(style="background-image: url(./img/icon/set-adv.svg)")
							.advertising__txt Показ рекламы аудтиории, уже заинтересованнной в опредленном Вашем товаре или услуге
						.advertising__item
							.advertising__pic(style="background-image: url(./img/icon/set-adv.svg)")
							.advertising__txt Показ рекламы аудтиории, уже заинтересованнной в опредленном Вашем товаре или услуге
						.advertising__item
							.advertising__pic(style="background-image: url(./img/icon/set-adv.svg)")
							.advertising__txt Показ рекламы аудтиории, уже заинтересованнной в опредленном Вашем товаре или услуге
						.advertising__item
							.advertising__pic(style="background-image: url(./img/icon/set-adv.svg)")
							.advertising__txt Показ рекламы аудтиории, уже заинтересованнной в опредленном Вашем товаре или услуге
		
		include ../modules/price
		
		.include 
			.include__container.container
				h2.include__title.title-3 Если у Вас уже настроена контекстная реклама, но эффекта нет
				.include__txt Мы с удовольствием исследуем Ваши рекламные кампании и качество трафика, используя данные статистики. Предоставьте гостевой доступ в метрику и Analytics и отправьте Вашу заявку на аудит
				a(href="#").btn.btn--special
					.btn__special
						span Заказать проект
					.btn__text Заказать проект

		- var quote = 'h4';
		- var quoteTitle = 'О нашей команде';
		- var quoteInfo = ['В команде “Uralmedias” работает 10 специалистов, в нашем портфолио уже около 300 проектов. C 2011 года мы эффективно настраиваем и оказываем услуги по ведению кампаний контекстной рекламы в системах Яндекс Директ и Google Adwords для бизнеса различной направленности: от лендингов одной услуги до крупных интернет-магазинов.',	'Digital-агентство “Uralmedias” является Партнером Google и Сертифицированным агентством Яндекса. Раз в три месяца мы проходим сертификацию. Сотрудники ежегодно сдают аттестационные экзамены Google и Яндекс.'];

		include ../modules/quote
		include ../modules/partners
		include ../modules/place

block script