extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page';
	- var setTitle = 'Разработка интернет-магазина';
	- var bildboard_quote = 'Яркий и удобный интернет-магазин с адаптацией подо все устройства.';
	- var bildboardImg = ['img/dataBild/img1.jpg', 'img/dataBild/img_tablet1.jpg', 'img/dataBild/img_mobile1.jpg'];
	- var includeBloc = 'magazine';
	- var include = "landing";
	- var bildboard_include = 'special-btn';
	- var partners_quote = 'true';
	- var priceList = '2'; 

	- var quote = 'h2';
	- var quoteTitle = 'Что такое интернет магазин?';
	- var quoteInfo = ['Корпоративный сайт – это портал для бизнеса, необходимый элемент успешной работы любой компании, будь то крупная международная организация или небольшое предприятие. Он содержит полный объем информации о самой компании, о сфере ее деятельности, предлагаемой продукции и услугах. Сайт представляет собой своеобразную рекламную площадку, призванную привлекать новых клиентов. Аудитория здесь только целевая, которая получает исчерпывающие ответы на все свои вопросы.'];

block content
	div(data-barba="container" data-barba-namespace="page")
		.bildboard-data.bildboard-data--special-btn
			<picture>
				<source srcset=#{bildboardImg[0]} media="(min-width: 1025px)">
				<source media="(min-width: 621px)" srcset=#{bildboardImg[1]}>
				<source media="(min-width: 320px)" srcset=#{bildboardImg[2]}>
				<img src=#{bildboardImg[0]} alt="MDN">
			</picture>
			.bildboard-data__container.container
				.bildboard-data__title.bildboard-data__title--short.title-1 Разработка <span>интернет-магазина</span>
				.bildboard-data__quote #{bildboard_quote}
				a(href="#request").btn.btn--special
					.btn__special
						span Отправить заявку менеджеру
					.btn__text Отправить заявку менеджеру
		include ../modules/breadcrumbs
		include ../modules/quote
		.demand.demand--magazine
			.demand__container.container
				.demand__title.title-3 Этапы работ продвижения
				.demand__cover
					.demand__items
						.demand__item
							.demand__header <span class="demand__num">1</span> предпроектное исследование
							.demand__txt Изучаем Ваш бизнес, анализируем ресурсы конкурентов, выбираем структуру сайта.
						.demand__item
							.demand__header <span class="demand__num">2</span> создание прототипа
							.demand__txt Создаем протротипы интерфейса, придумываем общую структуру интернет-магазина.
						.demand__item
							.demand__header <span class="demand__num">3</span> разработка дизайна
							.demand__txt Отрисовываем все необходимые страницы и модулируем интерфейс.
						.demand__item
							.demand__header <span class="demand__num">4</span> работы по разработке
							.demand__txt Разрабатываем адаптивную верстку, программируем будущий сайт.
						.demand__item
							.demand__header <span class="demand__num">5</span> проведение тестирования
							.demand__txt Проверяем, наполняем контентом, настраиваем аналитику.
						.demand__item
							.demand__header <span class="demand__num">6</span> запуск интернет-магазина
							.demand__txt Сдаем готовый сайт с налаженной системой продаж.
		include ../modules/price
		include ../modules/include
		.benefit
			- var quote = 'h4';
			- var quoteTitle = 'Основные преимущества интернет-магазина';
			- var quoteInfo = ['Если у вас есть стационарная торговая точка, но вы еще не открыли интернет-магазин, мы советуем Вам об этом задуматься. Ведь on-line торговля станет серьезным подспорьем вашему бизнесу.'];
			include ../modules/quote
			.benefit__container.container 
				.benefit__wrapper
					.benefit__decor
						.benefit__bloc
							.benefit__header популярность
							.benefit__txt популярность интернет-магазинов все больше и больше растет среди потребителей из-за экономии времени, легкости поиска нужного товара, конфиденциальности покупок, доступности в любое время суток
						.benefit__bloc
							.benefit__header удобство
							.benefit__txt Он доступен покупателю 24 часа в сутки, 7 дней в неделю, что позволяет вам не упустить клиентов в нерабочие часы.
						.benefit__bloc
							.benefit__header доступность
							.benefit__txt Ваш бизнес не привязан к конкретному региону – Вы можете осуществлять торговлю не только в своем городе, но и во всей стране, и даже на международном уровне.
						.benefit__bloc
							.benefit__header экономия
							.benefit__txt не нужно арендовать или покупать торговую площадь, можно обойтись просто складом для товаров, из которого и отгружать их напрямую
					.benefit__img
						img(src="./img/pc.png" alt="")
					
						
		- var includeBloc = "call";
		include ../modules/include
		include ../modules/seo-slider
		.container
			include ../modules/partners
		include ../modules/call
block script